*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Cano;
  src: url("./fonts/Canonatia.ttf");
}
@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: MonsLight;
  src: url("./fonts/Montserrat-Light.ttf");
}

body {
  font-family: PopLight;
}

.portfolio {
  color: #fff;
  background: radial-gradient(rgba(80, 80, 80, 1), rgba(24, 24, 24, 1));
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 2fr 1fr 5%;
}

.hero {
  height: 500px;
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-column: 3/4;
}

.hero h1 {
  font-size: 124px;
  font-family: Cano;
  letter-spacing: 0.5rem;
}

.hero h2 {
  font-size: 64px;
  font-family: MonsLight;
}

svg path:nth-child(2) {
  animation: clip 1s ease-out;
  transform-origin: center;
}

@keyframes clip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
