@import "./unknwn.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Paris;
  src: url("./fonts/Parisienne-Regular.ttf");
}
@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: MonsLight;
  src: url("./fonts/Montserrat-Light.ttf");
}

body {
  font-family: PopLight;
}

.portfolio {
  color: #fff;
  background: radial-gradient(rgba(80, 80, 80, 1), rgba(24, 24, 24, 1));
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 2fr 1fr 5%;
}

.hero {
  height: 500px;
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-column: 3/4;
}

.hero h2 {
  font-size: 112px;
  font-family: Paris;
}

.email {
  height: 500px;
  text-align: center;
  align-self: flex-start;
  justify-self: center;
  grid-column: 3/4;
}

.email h2 {
  font-size: 112px;
  font-family: Paris;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 16px;
  padding: 16px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1);
}

.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

.logo path:nth-child(2) {
  transform-origin: center;
  animation: clip 1s ease-in-out;
}

@keyframes dot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes clip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  z-index: 1;
  color: black;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
}

.contact {
  grid-column: 2/3;
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

.nav-open p {
  font-size: 18px;
}

.social-links {
  display: flex;
}
.social-links p {
  padding: 0px 20px;
}

.menu {
  cursor: pointer;
}

.logo,
.menu {
  z-index: 2;
}

form {
  overflow: hidden;

  width: 100%;
}

form input {
  width: 100%;
  height: 32px;
}

form textarea {
  padding: 8px;
  border: none;
  color: #fff;
  width: 100%;
  height: 150px;
}

form label {
  display: block;
}

form button {
  background-color: rgb(80, 80, 80);
  border: 1px solid #fff;
  color: #fff;
  float: right;
  padding: 10px 20px;
  margin: 5px 0 0 0;
  transition: all 0.5s;
  border-radius: 4px;
}

form button:hover {
  background-color: rgb(60, 60, 60);
  color: #fff;
}
