#main-text {
  animation: fill 0.5s ease forwards 3.6s;
}
#main-text path:nth-child(1) {
  stroke-dasharray: 286;
  stroke-dashoffset: 286;
  animation: line-anim 2s ease forwards;
}
#main-text path:nth-child(2) {
  stroke-dasharray: 541;
  stroke-dashoffset: 541;
  animation: line-anim 2s ease forwards 0.2s;
}
#main-text path:nth-child(3) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;

  animation: line-anim 2s ease forwards 0.4s;
}
#main-text path:nth-child(4) {
  stroke-dasharray: 311;
  stroke-dashoffset: 311;

  animation: line-anim 2s ease forwards 0.6s;
}
#main-text path:nth-child(5) {
  stroke-dasharray: 368.8;
  stroke-dashoffset: 368.8;

  animation: line-anim 2s ease forwards 0.8s;
}
#main-text path:nth-child(6) {
  stroke-dasharray: 592;
  stroke-dashoffset: 592;

  animation: line-anim 2s ease forwards 1s;
}
#main-text path:nth-child(7) {
  stroke-dasharray: 368.8;
  stroke-dashoffset: 368.8;

  animation: line-anim 2s ease forwards 1.2s;
}
#main-text path:nth-child(8) {
  stroke-dasharray: 373;
  stroke-dashoffset: 373;

  animation: line-anim 2s ease forwards 1.4s;
}
#main-text path:nth-child(9) {
  stroke-dasharray: 368.8;
  stroke-dashoffset: 368.8;

  animation: line-anim 2s ease forwards 1.6s;
}
#main-text path:nth-child(10) {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;

  animation: line-anim 2s ease forwards 1.9s;
}
#main-text path:nth-child(11) {
  stroke-dasharray: 338;
  stroke-dashoffset: 338;

  animation: line-anim 2s ease forwards 2.1s;
}
#main-text path:nth-child(12) {
  stroke-dasharray: 205.52;
  stroke-dashoffset: 205.52;

  animation: line-anim 2s ease forwards 2.3s;
}
#main-text path:nth-child(13) {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;

  animation: line-anim 2s ease forwards 2.6s;
}
#main-text path:nth-child(14) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;

  animation: line-anim 2s ease forwards 2.8s;
}
#main-text path:nth-child(15) {
  stroke-dasharray: 205.52;
  stroke-dashoffset: 205.52;
  animation: line-anim 2s ease forwards 3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
